header, main, footer
{
    padding-left: 300px;
}

.service-no-response::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    content: '';
    background-color: black;
    opacity: 50%;
    z-index: 9999;
}

.sidenav .title-panel {
  position: relative;
  font-weight: lighter;
  font-size: 24px;
  line-height: initial;
  margin: 1em 1em;
}

.title-panel .label
{
  margin: 0px;
  padding-left: 10px;
  color: white;
  background: #546e7a;
  max-width: 665px;
}

.content-panel
{
  /* top: -143px; */
  position: relative;
}

.main-container
{
  background: #e9ecee;
  height: calc(100vh - 64px); /* the height of the header */
}

/* Override for padding on brand-logo block*/
nav .brand-logo
{
  padding-left: 25px;
}

.sidenav .user-view
{
    padding: 64px 32px 0;
}

.sidenav li.active {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header
{
  border-bottom: 2px solid #455a6459;
}

.bluish
{
  background: #e9ecee;
}

.tech-bubble
{
  height: 100px;
  width: 100px;
}

.background-map
{
  width: calc(100vw - 300px);
  height: calc(100vh - 64px);
  position: absolute;
  z-index: 0;
}

.portfolio-desc
{
  color: rgba(84, 84, 84, 1);
  font-size: 12px;
  font-style: italic;
}

@media only screen and (max-width : 992px)
{
    header, main, footer
    {
      padding-left: 0;
    }

    .background-map
    {
      width: 100vw;
      height: calc(100vh - 64px);
      position: absolute;
      z-index: 0;
    }
}

/* Materialize Tab Overrides */
.tabs .tab a
{
  background-color:#455a6457;
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover
{
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active
{
  background-color:#455a64;
  color: white;
} /*Background and text color when a tab is active*/

.tabs .indicator
{
  background-color: orange;
} /*Color of underline*/

.tabs .tab a:focus, .tabs .tab a:focus.active
{
  background-color: #455a64;
  outline: none;
}

.fancytree-treefocus span.fancytree-selected span.fancytree-title .textarea .materialize-textarea
{
  border: 1px solid black;
  background: white;
  width: 100%;

}