<footer>
    <div class="content-panel">
        <a class="waves-effect waves-light btn darken-2"
            v-bind:class="[ needsSave ? 'light-green' : 'blue-grey' ]"
            v-on:click="save"
        ><i class="material-icons left">save</i>Save</a>

        <a class="waves-effect waves-light btn blue-grey darken-2"
            v-on:click="view"
        ><i class="material-icons left">public</i>View</a>
    </div>

    <dialog-box
        v-bind:showDialog.sync="viewMap"
    >
        <smk-map
            v-if="viewMap"
            v-bind:config="mapConfig"
        ></smk-map>
    </dialog-box>
</footer>
