Vue.component('attribute-panel',
{
    props: ['attribute', 'layer'],
    template:
        `<div class="row">
            <div class="col s2 input-field">
                <label>
                    <input type="checkbox" class="filled-in" id="attIsVisible" v-model="attribute.visible" />
                    <span>Visible</span>
                </label>
            </div>
            <div class="col s8 input-field">
                <input id="attName" type="text" v-model="attribute.title">
                <label for="attName">{{attribute.name}}</label>
            </div>
            <div class="col s2 input-field">
                <label>
                    <input name="titleAttGroup" type="radio" v-bind:value="'' + attribute.name + ''" v-model="layer.titleAttribute"/>
                    <span>Set Title Attribute</span>
                </label>
            </div>
        </div>`
});
