<li class="collection-item avatar">
    <i class="material-icons circle"
        v-bind:class="[ typeColour ]"
        v-bind:title="typeTitle"
    >{{ typeIcon }}</i>

    <span class="title">{{ title }}</span>

    <span class="secondary-content">
        <a target="_blank"
            v-bind:href="metadataUrl"
            v-if="metadataUrl"
        ><i class="material-icons">open_in_new</i></a>

        <a class="disabled"
            v-on:click="edit"
        ><i class="material-icons">edit</i></a>

        <a class="disabled"
            v-on:click="remove"
        ><i class="material-icons red-text">delete_forever</i></a>
    </span>
</li>
