
.edit-item .modal-content {
    display: flex;
    min-height: 0;
    flex-direction: column;
}

.edit-item .modal-content .dialog-header {
    flex-shrink: 0;
}

.edit-item .modal-content .dialog-body {
    flex-grow: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

.edit-item .tabs .tab:not(.disabled) a {
    color: black;
}

.edit-item .modal-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    text-align: unset;
}

.edit-item .modal-footer a.btn {
    flex-shrink: 0;
}

.itemId {
    font-family: monospace;
}