<div>
    <div class="row">
        <input-select class="col s6"
            v-model="scaleMin"
        >Minimum Scale Visible
            <template v-slot:options>
                <option v-bind:value="0">No minimum</option>
                <option v-for="s in zoomScale"
                    v-if="s"
                    v-bind:value="s.zoom"
                    v-bind:title="'Zoom Level: ' + s.zoom"
                    v-bind:disabled="!!scaleMax && s.zoom >= scaleMax"
                >1 : {{ s.formatted }}</option>
            </template>
        </input-select>

        <input-select class="col s6"
            v-model="scaleMax"
        >Maximum Scale Visible
            <template v-slot:options>
                <option v-bind:value="0">No maximum</option>
                <option v-for="s in zoomScale"
                    v-if="s"
                    v-bind:value="s.zoom"
                    v-bind:title="'Zoom Level: ' + s.zoom"
                    v-bind:disabled="!!scaleMin && s.zoom <= scaleMin"
                >1 : {{ s.formatted }}</option>
            </template>
        </input-select>
    </div>

    <div class="row">
        <input-range class="col s6"
            v-bind:min="0"
            v-bind:max="1"
            v-bind:step="0.05"
            v-model="opacity"
        >Opacity
            <template v-slot:output>{{ Math.round( opacity * 100 ) }}%</template>
        </input-range>

        <input-checkbox  class="col s6"
            v-model="isQueryable"
        >Available for identify</input-checkbox>
    </div>

    <component
        v-bind:is="layerDetailComponent"
        v-bind:itemId="itemId"
    ></component>

    <div class="row tight">
        <input-textarea class="col s12"
            v-model="metadataUrl"
        >Metadata URL</input-textarea>
    </div>
</div>