<div>
    <edit-tool-details
        v-bind:toolType="toolType"
        v-bind:toolInstance="toolInstance"
    ></edit-tool-details>

    <div class="row">
        <div class="col" style="float:none">
            <input-text
                v-model="geomarkServiceUrl"
            >Geomark service URL</input-text>
        </div>
    </div>
    <div class="row">
        <input-checkbox class="col s6"
            v-model="enableCreateFromFile"
        >Enable link to create a geomark from a file</input-checkbox>
    </div>
</div>
