.edit-item-attributes .collapsible-header {
    align-items: center;
}

.edit-item-attributes .collapsible-header span {
    flex-grow: 1;
}

.edit-item-attributes .collapsible-header .switch div {
    font-size: smaller;
    text-align: center;
}


