<div>
    <div class="row">
        <input-checkbox class="col s6"
            v-model="mouseWheel"
        >Use mouse wheel</input-checkbox>

        <input-checkbox class="col s6"
            v-model="doubleClick"
        >Use double click</input-checkbox>
    </div>
    <div class="row">
        <input-checkbox class="col s6"
            v-model="box"
        >Hold SHIFT to drag a box</input-checkbox>

        <input-checkbox class="col s6"
            v-model="control"
        >Show zoom controls</input-checkbox>
    </div>
</div>
