<form>
    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="col s9 input-field">
                    <label class="active">WMS Base URL</label>
                    <input type="text" v-model="wmsUrl">
                </div>
                <div class="col s2">
                    <a class="waves-effect waves-light btn-small blue-grey darken-2"
                        v-on:click="loadCatalog" style="margin-top: 20px;">
                        <i xstyle="position: absolute; top: 4px; left: 4px;" class="material-icons center">cached</i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <i class="material-icons prefix"
                        v-on:click="clearFilter"
                    >cancel</i>
                    <label>Filter WMS Layers</label>
                    <input type="text" v-model="layerFilter">
                </div>
            </div>
            <div class="row">
                <catalog-tree
                    v-if="wmsCatalog.length > 0"
                    v-bind:items="wmsCatalog"
                    v-bind:filter="layerFilter"
                    v-on:select-item="addLayer"
                ></catalog-tree>
            </div>
        </div>
        <div class="col s6">
            <h5>Existing WMS layers</h5>
            <ul class="collection">
                <catalog-item
                    v-for="layer in wmsLayers"
                    v-bind:layer="layer"
                    v-bind:key="layer.id"
                ></catalog-item>
            </ul>
        </div>
    </div>
</form>
