<article>
    <section>
        <header>
            <h5>Base Map</h5>
            <h6>
                Select a basemap from list to set your application's default base map.
            </h6>
        </header>
        <div>
            <div class="row">
                <div class="col s12">
                    <p v-for="bm in baseMaps">
                        <label>
                            <input name="basemapGroup" type="radio"
                                v-bind:value="bm.id"
                                v-model="baseMap"
                            >
                            <span>{{ bm.title }}</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <header>
            <h5>Initial Map Position</h5>
            <h6>
                Pan and zoom the map to set the application's initial position.
            </h6>
        </header>
        <div>
            <smk-map
                v-bind:config="mapConfig"
                v-on:changed-view="changedView"
            ></smk-map>
        </div>
    </section>
</article>
