<form>
    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="col s12 input-field">
                    <i class="material-icons prefix"
                        v-on:click="clearFilter"
                    >cancel</i>
                    <label>Filter DataBC Layers</label>
                    <input type="text" v-model="layerFilter">
                </div>
            </div>
            <div class="row">
                <catalog-tree
                    v-if="mpcmCatalog.length > 0"
                    v-bind:items="mpcmCatalog"
                    v-bind:filter="layerFilter"
                    v-on:select-item="addLayer"
                ></catalog-tree>
            </div>
        </div>
        <div class="col s6">
            <h5>Existing DataBC layers</h5>
            <ul class="collection">
                <catalog-item
                    v-for="layer in mpcmLayers"
                    v-bind:layer="layer"
                    v-bind:key="layer.id"
                ></catalog-item>
            </ul>
        </div>
    </div>
</form>
