<article>
    <section>
        <header>
            <h5>WMS Layer Catalog</h5>

            <ul class="collapsible" ref="collapsible">
                <li data-index="0">
                    <div class="collapsible-header">
                        <i class="material-icons">menu_book</i>Service:
                        {{ showAddCatalogUrl ? '...' : catalogUrl }}
                    </div>
                    <div class="collapsible-body">
                        <div class="row tight">
                            <input-select class="col s12"
                                v-model="catalogUrl"
                            >Select service URL
                                <template v-slot:options>
                                    <option v-for="url in catalogUrls"
                                        v-bind:value="url"
                                        v-bind:selected="catalogUrl == url"
                                    >{{ url }}</option>
                                    <option value="-other-"
                                        v-bind:selected="showAddCatalogUrl"
                                    >Other URL...</option>
                                </template>
                            </input-select>
                        </div>
                        <div class="row tight" v-if="showAddCatalogUrl">
                            <input-text class="col s12"
                                v-model="addCatalogUrl"
                                v-bind:hasFocus="showAddCatalogUrl"
                                v-bind:disabled="addingCatalog"
                                v-on:keyEnter="loadCatalog"
                            >Add a service URL</input-text>
                        </div>
                        <div class="row tight" v-if="showAddCatalogUrl">
                            <div class="col s12 right-align">
                                <a class="waves-effect waves-light btn blue-grey darken-2"
                                    v-on:click="loadCatalog"
                                    v-bind:class="{ disabled: !addCatalogUrl || addingCatalog }"
                                >Load Catalog</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-index="1">
                    <div class="collapsible-header">
                        <i class="material-icons">filter_list</i>
                        {{ appliedLayerFilter ? `Filter: "${ appliedLayerFilter }"` : 'Filter catalog' }}
                        <div class="collapsible-action">
                            <a class="btn-flat"
                                v-if="appliedLayerFilter"
                                v-on:click.stop="clearFilter"
                            ><i class="material-icons">cancel</i></a>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row tight">
                            <input-text class="col s12"
                                v-model="layerFilter"
                                v-bind:hasFocus="showFilter"
                                v-on:keyEnter="applyFilter"
                            >Show catalog entries containing</input-text>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="waves-effect waves-light btn blue-grey darken-2"
                                    v-on:click="applyFilter"
                                ><i class="material-icons right">filter_list</i>Filter</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </header>

        <div>
            <catalog-tree
                v-if="!showAddCatalogUrl || addingCatalog"
                v-bind:src="'/catalog/wms/' + encodeURIComponent( addingCatalog ? addCatalogUrl : catalogUrl )"
                v-bind:filter="appliedLayerFilter"
                v-on:select-item="addLayer"
                v-on:load-error="catalogError"
                v-on:loaded="catalogLoaded"
                v-on:filtered="catalogFiltered"
            ></catalog-tree>
        </div>
    </section>
    <section>
        <header>
            <h5>WMS Layers In App</h5>
        </header>
        <div>
            <div class="catalog-collection">
                <catalog-item
                    v-for="layer in wmsLayers"
                    v-bind:itemId="layer.id"
                    v-bind:key="layer.id"
                    v-on:edit-item="editItem"
                    v-on:remove-item="removeItem"
                ></catalog-item>
            </div>
        </div>
    </section>

    <edit-item
        v-bind:showDialog.sync="showEditItem"
        v-bind:itemId="editItemId"
    ></edit-item>
</article>
