<article>
    <section>
        <header>
            <h5>DataBC Catalog</h5>
            <div class="col s12 input-field">
                <i class="material-icons prefix"
                    v-on:click="clearFilter"
                >cancel</i>
                <label>Filter DataBC Layers</label>
                <input type="text" v-model="layerFilter">
            </div>
        </header>
        <div>
            <catalog-tree
                v-if="mpcmCatalog.length > 0"
                v-bind:items="mpcmCatalog"
                v-bind:filter="layerFilter"
                v-on:select-item="addLayer"
            ></catalog-tree>
        </div>
    </section>
    <section>
        <header>
            <h5>DataBC Layers In App</h5>
        </header>
        <div>
            <ul class="collection">
                <catalog-item
                    v-for="layer in mpcmLayers"
                    v-bind:layer="layer"
                    v-bind:key="layer.id"
                ></catalog-item>
            </ul>
        </div>
    </section>
</article>
