.tool-item {
    margin: 10px;
}

.tool-item .card-content {
    padding: 0 12px;
    width: 100%;
    min-height: 36px;
}

.tool-item .card-content .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 36px;
}

.tool-item .card-content .top-row i {
    margin-right: 12px;
}

.tool-item .card-content .top-row .card-action i {
    margin-right: 0;
    margin-left: 12px;
}

.tool-item .type-instance .instance {
    font-size: 10px;
}

.tool-item .card-action {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 0;
    flex-grow: 1;
}

.tool-item .card-action .btn-flat {
    margin-right: 0 !important;
    padding: 0;
}

.tool-item .card-action .btn-flat i {
    font-size: 25px;
}
